<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <!-- https://devcenter.heroku.com/articles/using-a-custom-maven-settings-xml -->
            <id>heroku</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- https://github.com/git-commit-id/git-commit-id-maven-plugin/issues/279 -->
                <!-- https://gist.github.com/tmullin/bd17e3a05607d2b11349ef73ebbca84d -->
                <maven.gitcommitid.skip>true</maven.gitcommitid.skip>
            </properties>
        </profile>
    </profiles>
</settings>